:root {
    --color-header: #846B8A;
    --color-blue: #463E5B;
    --color-pink: #AB879F;
    --color-dark-blue: #150D29;
    --color-dark-pink: #350d28;
    --color-white: #ada8b9;

    --box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    --btn-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
    --border-focus: 0 0 0 2px rgb(136,89, 164), 0 0 0 4px rgba(136, 89, 164, 0.5);
}