{#% The footer is the bottom part of my main page. %#}
{#% Here I will be including various links to other compsci revision websites %#}
{#% There's a total of three classes. These will be displayed as three colums in the footer %#}
<div class="main-footer">
    <div class="footer-content">
        <ul>
            <li>physics and maths tutor</li>
            <li>brainly</li>
            <li>Craig and Dave</li>
            <li>CS50</li>
            <li>free code camp</li>
        </ul>
    </div>
    <div class="footer-content">
        <ul>
            <li>TRFS</li>
            <li>A level computer science</li>
            <li>PLC</li>
            <li>Teachers</li>
            <li>Textbook purchase</li>

        </ul>
    </div>
    <div class="footer-content">
        <ul>
            <li>credits</li>
            <li>about me</li>
        </ul>
    </div>
</div>


<style>
    .main-footer {
        display: flex;
        justify-content: center;
        gap: 3em;
        align-items: center;
        width: 100%;
    }
</style>


