{% load static %}
{% load customtags %}

<div class="ratings">
    {% comment %} repeating the form 3 times (to be able to do it in html) {% endcomment %}
    <p class="ratings-info" > Rating: {{rating__avg_value|floatformat:1}} | {{rating__count}} Votes </p>

    {% if not rating__count == 0 %}
    {% comment %} for every possiblity, it shows how many stars should be filled and how many stars should be left empty {% endcomment %}
        {% if rating__avg_value|floatformat:0 == '1' %}
        {% comment %} if statement to clarify which buttons will be full stars and which will be empty stars {% endcomment %}
            <form action="{% url 'rate_post' %}" method='POST'>
                {% csrf_token %}
                {% comment %} every star would be a button hidden under a star picture {% endcomment %}
                <input type="hidden" name= "post_id" value="{{ post.id }}">
                <input type="hidden" name= "rating" value="1">
                <button type="submit"> <img src="{% static 'img/rating-full.png' %}" alt="rate-1" width="15px"></button>
            </form>
            {% for x in 4|times %}
                <form action="{% url 'rate_post' %}" method='POST'>
                    {% csrf_token %} 
                    <input type="hidden" name= "post_id" value="{{ post.id }}">
                     {% comment %} forloop.counter is a function I created to add pictures based on the condition of the button (empty or full) {% endcomment %}
                    <input type="hidden" name= "rating" value="{{ forloop.counter|add:1 }}">
                    <button type="submit"> <img src="{% static 'img/rating-empty.png' %}" alt="rate-{{ forloop.counter|add:1 }}" width="15px"></button>
                </form>
            {% endfor %}
 
        {% elif rating__avg_value|floatformat:0 == '2' %}
            {% for x in 2|times %}
                <form action="{% url 'rate_post' %}" method='POST'>
                    {% csrf_token %}
                    <input type="hidden" name= "post_id" value="{{ post.id }}">
                    <input type="hidden" name= "rating" value="{{ forloop.counter }}">
                    <button type="submit"> <img src="{% static 'img/rating-full.png' %}" alt="rate-{{ forloop.counter }}" width="15px"></button>
                </form>
            {% endfor %}   
            {% for x in 3|times %}
                <form action="{% url 'rate_post' %}" method='POST'>
                    {% csrf_token %}
                    <input type="hidden" name= "post_id" value="{{ post.id }}">
                    <input type="hidden" name= "rating" value="{{ forloop.counter|add:2 }}">
                    <button type="submit"> <img src="{% static 'img/rating-empty.png' %}" alt="rate-{{ forloop.counter|add:2 }}" width="15px"></button>
                </form>
            {% endfor %}   

        {% elif rating__avg_value|floatformat:0 == '3' %}
            {% for x in 3|times %}
                <form action="{% url 'rate_post' %}" method='POST'>
                    {% csrf_token %}
                    <input type="hidden" name= "post_id" value="{{ post.id }}">
                    <input type="hidden" name= "rating" value="{{ forloop.counter }}">
                    <button type="submit"> <img src="{% static 'img/rating-full.png' %}" alt="rate-{{ forloop.counter }}" width="15px"></button>
                </form>
            {% endfor %}   
            {% for x in 2|times %}
                <form action="{% url 'rate_post' %}" method='POST'>
                    {% csrf_token %}
                    <input type="hidden" name= "post_id" value="{{ post.id }}">
                    <input type="hidden" name= "rating" value="{{ forloop.counter|add:3 }}">
                    <button type="submit"> <img src="{% static 'img/rating-empty.png' %}" alt="rate-{{ forloop.counter|add:3 }}" width="15px"></button>
                </form>
            {% endfor %}   

        {% elif rating__avg_value|floatformat:0 == '4' %}
            {% for x in 4|times %}
                <form action="{% url 'rate_post' %}" method='POST'>
                    {% csrf_token %}
                    <input type="hidden" name= "post_id" value="{{ post.id }}">
                    <input type="hidden" name= "rating" value="{{ forloop.counter }}">
                    <button type="submit"> <img src="{% static 'img/rating-full.png' %}" alt="rate-{{ forloop.counter }}" width="15px"></button>
                </form>
            {% endfor %}   
            {% for x in 1|times %}
                <form action="{% url 'rate_post' %}" method='POST'>
                    {% csrf_token %}
                    <input type="hidden" name= "post_id" value="{{ post.id }}">
                    <input type="hidden" name= "rating" value="{{ forloop.counter|add:4 }}">
                    <button type="submit"> <img src="{% static 'img/rating-empty.png' %}" alt="rate-{{ forloop.counter|add:4 }}" width="15px"></button>
                </form>
            {% endfor %}  

        {% elif rating__avg_value|floatformat:0 == '5' %}
            {% for x in 5|times %}
                <form action="{% url 'rate_post' %}" method='POST'>
                    {% csrf_token %}
                    <input type="hidden" name= "post_id" value="{{ post.id }}">
                    <input type="hidden" name= "rating" value="{{ forloop.counter }}">
                    <button type="submit"> <img src="{% static 'img/rating-full.png' %}" alt="rate-{{ forloop.counter }}" width="15px"></button>
                </form>
            {% endfor %}   
        {% endif %}

    
    {% else %}
    {% comment %} if the forloop counter is empty then all the stars are empty {% endcomment %}
        {% for idx in 5|times %}
        <form action="{% url 'rate_post' %}" method='POST'>
            {% csrf_token %}
            <input type="hidden" name= "post_id" value="{{ post.id }}">
            <input type="hidden" name= "rating" value="{{ forloop.counter }}">
            <button type="submit" value="Like" > <img src="{% static 'img/rating-empty.png' %}" alt="rate-{{ forloop.counter }}" width="15px"></button>
        </form>
        {% endfor %}  
    {% endif %}  
</div>



<style>
    .ratings_info {
        opacity: .5;
        color: var(--color-dar-pink);
        padding: .35em 1em;
        border-radius: 4px;
    }

    .ratings {
        display: flex;
        justify-content: flex-end;
        margin-block: 1em;
        align-items: center;
        gap: .2em;
    }

    .ratings img { 
        width: 15px;
        margin-left: .2em;
        transition: all .15s ease-in-out;
    }

    .ratings img:hover {
        filter: nrightness(110%) contrast(110%);
        transform: scale(1.2);
    }

    .ratings img:active,, .ratings img:focus {
        filter: brightness(50%);
        tranform: scale(1.2);
    }

    .ratings button {
        cursor:pointer;
    }
</style>
